@import "../scss/import/_variable.scss";
@import "../scss/import/common.scss";

.test {
    margin: 0 auto;
}
.test2 {
    margin-top: 10px;
}
.test3 {
    margin-top: 10px;
    background-color: $black;
}

/*이미지 스프라이트*/
.imgSprite {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    background-image: url($imgPath + 'sp_main.png');
    background-size: 442px 428px;
}

.imgtest {
    @extend .imgSprite;
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
}