@import "./modules/variable";
@import "./modules/common";
@import "./modules/spr";

/*헤더*/

.header {
  position: relative;
  background-color: #fff;
  z-index: 2000;
  &-top {
    height: 140px;
    padding-top: 10px;
    .main {
      align-items: initial;
      padding: 19px 0 20px;
      .logo {
        height: 100%;
        &-area {
          display: block;
          .naver {
            @extend .sprMain-top;
            display: inline-block;
            vertical-align: top;
            width: 222px;
            height: 52px;
            background-position: 0 -158px;
          }
        }
      }
      .search {
        fieldset {
          .search-box {
            justify-content: space-between;
            width: 582px;
            height: 52px;
            margin-left: 15px;
            border: 2px solid $green;
            border-radius: 2px;
            &__input {
              input {
                width: 444px;
                height: 24px;
                padding: 13px 15px;
                margin: 1px;
                background-color: $white;
                line-height: 24px;
                color: $black;
                font-weight: 700;
                font-size: 18px;
                outline: 0;
              }
            }
            &__btn {
              width: 56px;
              height: 51.5px;
              background-color: $green;
              cursor: pointer;
              align-items: center;
            }
          }
        }
        &-box {
          position: absolute;
        }
        &-btn {
          position: absolute;
        }
      }
    }
    .service {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .setlink {
        font-size: 11px;
        line-height: 17px;
        &::after {
          @extend .sprMain-top;
          content: "";
          display: inline-block;
          width: 26px;
          height: 26px;
          background-position: -382px -213px;
          vertical-align: top;
          content: "";
          margin: -3px 0 0 3px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      .jrnaver {
        margin-right: 10px;
        & .ico-jrnaver {
          display: inline-block;
          margin-top: 2px;
        }
        &:hover {
          text-decoration: none !important;
        }
        &:hover {
          .ico-jrnaver {
            @extend .sprMain-top;
            width: 60px;
            height: 10px;
            background-position: -326px -296px !important;
          }
        }
        &:before {
          content: "";
          display: inline-block;
          width: 1px;
          height: 10px;
          margin: 3px 7px;
          background-color: #e4e8eb;
        }
      }
      .happybean {
        display: inline-block;
        & .ico-happybean {
          display: inline-block;
          vertical-align: text-top;
        }
        &:hover {
          text-decoration: none !important;
        }
        &:hover {
          .ico-happybean {
            @extend .sprMain-top;
            width: 34px;
            height: 11px;
            background-position: -380px -199px !important;
          }
        }
      }
    }
  }

  &-btm {
    width: 100%;
    border-top: 1px solid #e4e8eb;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
    .gnb {
      justify-content: space-between;
      &-list {
        padding: 11px 0;
        .item {
          margin-right: 12px;
          span {
            font-size: 15px;
            line-height: 30px;
            font-weight: 700;
            letter-spacing: -0.3px;
          }
          a {
            vertical-align: middle;
            i {
              display: inline-block;
            }
          }
        }
        .item a:hover {
          @extend .no-underline;
        }
        .btn-more {
          a {
            span {
              margin-left: 5px;
              line-height: 30px;
              color: #202020;
              text-align: right;
            }
            span:after {
              content: "";
              display: inline-block;
              @extend .sprMain-top;
              width: 11px;
              height: 7px;
              background-position: -402px -296px;
              margin-top: 11px;
              margin-left: 8px;
            }
          }
        }
      }
      &-weather {
        align-items: center;
        // .air {
        // }
      }
    }
  }
}
/*메인*/
.container {
  &-left {
    width: 750px;
    margin-right: 30px;
    .slider {
    }
  }
  &-right {
    width: 350px;
    .account {
      width: 100%;
      border: $border-default;
      background-color: $bg-default;
      &-user {
        padding: 17px 17px 0;
        position: relative;
        .profile {
          position: relative;
          margin-right: 16px;
          &-pic {
            position: relative;
            width: 56px;
            height: 56px;
            img {
              width: 100%;
              border-radius: 50%;
              background-color: $white;
            }
            .thumb-bd {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              opacity: 0.08;
              filter: alpha(opacity=8);
              border: 1px solid #000;
              border-radius: 50%;
            }
          }
          &-pic:after {
            content: "";
            @extend .sprMy;
            position: absolute;
            display: inline-block;
            right: -3px;
            bottom: -1px;
            width: 23px;
            height: 23px;
            background-position: -50px -249px;
          }
        }
        .info {
          &-user {
            font-size: 13px;
            margin-bottom: 5px;
            .nickname {
              @extend .fw-700;
              @extend .no-underline;
              span {
                margin-right: -5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                max-width: 85px;
                vertical-align: top;
              }
              &:after {
                content: "";
                display: inline-block;
                width: 1px;
                height: 12px;
                margin: 0 7px 0 3px;
                background-color: #dae1e6;
                vertical-align: -1px;
              }
            }
            .id {
              font-size: 11px;
              margin-right: 5px;
            }
            .secure {
              i {
                display: inline-block;
              }
            }
            .secure:hover {
              .ico-secure {
                @extend .sprMy;
                width: 9px;
                height: 13px;
                background-position: -273px -217px;
              }
            }
          }
          &-mymail {
            margin-bottom: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #808080;
          }
          &-new {
            a {
              &.note:after {
                content: "";
                display: inline-block;
                margin: 2px 9px 0 3px;
                width: 1px;
                height: 11px;
                background-color: #dae1e6;
                vertical-align: -1px;
              }
              &.nplus {
                i {
                  display: inline-block;
                }
                span {
                  vertical-align: top;
                }
              }
              &.nplus:after {
                @extend .sprMy;
                content: "";
                display: inline-block;
                margin: 0 2px 2px -2px;
                width: 5px;
                height: 8px;
                background-position: -301px -72px;
              }
            }
            a:first-child {
              margin-right: 5px;
            }
            strong {
              margin-left: 4px;
              color: $green-main;
            }
          }
        }
        .logout {
          position: absolute;
          top: 17px;
          right: 17px;
          padding: 6px 10px 6px 11px;
          background-color: #ccd0d4;
          -webkit-border-radius: 14px;
          border-radius: 14px;
          font-size: 11px;
          color: #fff;
          cursor: pointer;
          @extend .no-underline;
        }
        .logout:hover {
          background-color: #b4b9bf;
        }
      }
    }
  }
}

/*푸터*/
.footer {
  &-conts {
    li {
      display: block;
      max-width: 600px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #777;
    }
  }
  &-txt {
    color: #777;
  }
  background-color: #fafbfc;
  border-top: $border-footer;
  .wrap {
    > div {
      @extend .flex;
    }
    .ad {
      padding: 24px 0;
      border-bottom: $border-footer;
      justify-content: space-between;
      &-list {
        max-width: 350px;
        height: 86px;
        border: none;
        transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),
          -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        image-rendering: -webkit-optimize-contrast;
        &__cont {
          .thumb {
            width: 160px;
            height: 86px;
            margin-right: 10px;
            overflow: hidden;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
          .txt {
            .subtitle {
              em {
                color: $green-footer;
                @extend .fw-700;
              }
            }
            .title {
              margin-top: 6px;
            }
            .detail {
              margin-top: 10px;
              p {
                line-height: 15px;
              }
            }
          }
        }
        &__cont:hover {
          @extend .no-underline;
          img {
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
          }
          .txt {
            strong {
              text-decoration: underline !important;
            }
          }
        }
      }
    }
    .notice {
      padding: 16px 0 15px;
      border-bottom: $border-footer;
      justify-content: space-between;
      &-left {
        ul {
          margin-left: 13px;
        }
      }
      &-right {
        .footer-title span:after {
          content: "";
          display: inline-block;
          @extend .sprMain-top;
          width: 7px;
          height: 11px;
          background-position: -408px -110px;
          margin-left: 10px;
          margin-top: 3px;
        }
      }
    }
    .service {
      width: 100%;
      padding: 10px 0;
      border-bottom: $border-footer;
      &-left {
        width: 70%;
        &__box {
          display: flex;
          margin: 10px 0;
          .footer-title {
            width: 87px;
          }
          .footer-conts {
            @extend .txt-bar;
          }
        }
      }
      &-right {
        width: 30%;
        margin: auto 0;
        .link-box {
          width: 50%;
          &__txt {
            padding-top: 3px;
          }
          &__img {
            margin-left: 10px;
            width: 48px;
            height: 48px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .info {
      padding-top: 25px;
      ul {
        @extend .txt-bar;
      }
      address {
        margin-left: 15px;
      }
    }
  }
}
