@import "./modules/variable";
@import "./modules/common.scss";
@import "./modules/icon.scss";
@import "./modules/spr.scss";

/*헤더*/
.wrap {
  overflow: hidden;
  min-width: 1190px;
}
.header {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #e4e8eb;
  z-index: 2000;
  &-top {
    width: 1130px;
    height: 160px;
    margin: 0 auto;
    padding: 0 30px;
    .main {
      height: 100%;
      .logo {
        display: block;
        &-naver {
          @extend .sprMain;
          display: inline-block;
          background-repeat: no-repeat;
          vertical-align: top;
          width: 222px;
          height: 52px;
          background-position: 0 -158px;
        }
      }
    }
    .search {
      position: relative;
      &-box {
        position: absolute;
        input {
        }
      }
      &-btn {
        position: absolute;
      }
    }
  }
}
