@import "./variable";

.sound-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  font-size: 0;
}
.wrap {
  width: 1130px;
  margin: 0 auto;
  &-main {
    padding: 20px 30px;
  }
  &-footer {
    padding: 0 30px 92px;
  }
}
.txt-green {
  color: $green-main;
}
.flex {
  display: flex;
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
  &-align {
    align-items: center;
  }
}
.fw-700 {
  font-weight: 700 !important;
}
.txt-bar {
  display: flex;
  li:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: $bg-gray;
    margin: 0 8px;
  }
  li:last-child:after {
    display: none;
  }
}
.txt-bar2 {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: $bg-gray;
}
.no-underline {
  text-decoration: none !important;
}
