@import "./variable";

.sound-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  font-size: 0;
}
.wrap {
  width: 1130px;
  margin: 0 auto;
}
.txt-green {
  color: #03c75a !important;
}
.flex {
  display: flex;
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
  &-align {
    align-items: center;
  }
}
