@import "./variable";

.sound-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  font-size: 0;
}
.wrap {
  width: 1130px;
  margin: 0 auto;
  &-main {
    padding: 20px 30px;
    justify-content: center;
  }
  &-footer {
    padding: 0 0 92px;
  }
}
.txt-green {
  color: $green-main;
}
.flex {
  display: flex;
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
  &-align {
    align-items: center;
  }
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.inline {
  display: inline-block;
}
.no-underline {
  text-decoration: none !important;
}
.underline {
  text-decoration: underline !important;
}
.txt-bar {
  display: flex;
  li:after {
    content: "";
    @extend .inline;
    width: 1px;
    height: 11px;
    background-color: $bg-gray;
    margin: 0 8px;
  }
  li:last-child:after {
    display: none;
  }
}
.txt-bar2 {
  content: "";
  @extend .inline;
  width: 1px;
  height: 12px;
  background-color: $bg-gray;
}
.dot {
  @extend .inline;
  border-radius: 50%;
  &-gray--l {
    background-color: #c7ccd1;
    width: 4px;
    height: 4px;
  }
  &-gray--s {
    background-color: #c9cccf;
    width: 3px;
    height: 3px;
  }
  &-gray--xs {
    background-color: $gray-3;
    width: 2px;
    height: 2px;
  }
  &-green {
    background-color: #1ace61;
    width: 4px;
    height: 4px;
  }
}
.enlarge {
  border: none;
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  image-rendering: -webkit-optimize-contrast;
}
.img-hover {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.badge {
  position: absolute;

  color: #fff;

  &-l {
    bottom: 8px;
    right: 10px;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 2px;
  }
  &-s {
    right: 8px;
    bottom: 6px;
    padding: 2px 4px;
    font-size: 11px;
    line-height: 14px;
    border-radius: 2px;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color: #000;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: transparent;
    line-height: 14px;
    border-radius: 2px;
  }
  em {
    position: relative;
    z-index: 1;
  }
  &-today {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      height: 30px;
      padding: 0 10px;
      font-size: 12px;
      line-height: 30px;
      color: #fff;
      &-entertain {
        background-color: $entertain;
      }
      &-sports {
        background-color: $sports;
      }
      &-webtoon {
        background-color: $webtoon;
      }
      &-fashion {
        background-color: $fashion;
      }
      &-recipe {
        background-color: $recipe;
      }
      &-living {
        background-color: $living;
      }
      &-book {
        background-color: $book;
      }
      &-economy {
        background-color: $economy;
      }
      &-recommend {
        background-color: $recommend;
      }
      &-car {
        background-color: $car;
      }
    }
  }
}
.em {
  @extend .fw-700;
  &-entertain {
    color: $entertain;
  }
  &-sports {
    color: $sports;
  }
  &-webtoon {
    color: $webtoon;
  }
  &-fashion {
    color: $fashion;
  }
  &-recipe {
    color: $recipe;
  }
  &-living {
    color: $living;
  }
  &-book {
    color: $book;
  }
  &-economy {
    color: $economy;
  }
  &-recommend {
    color: $recommend;
  }
  &-car {
    color: $car;
  }
}
/*한줄짜리*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
/*두줄짜리*/
.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  max-height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
// 마우스오버시 확대되는 이미지+텍스트
.imgbox {
  &-l {
    width: 364px;
    &:first-child {
      margin-right: 22px;
    }
  }
  &-m {
    width: 232px;
    margin-right: 27px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-s {
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-trend {
    width: 107px;
  }
  &-plus {
    width: 50%;
  }
  @extend .enlarge;
  a {
    .area {
      &-thumb {
        position: relative;
        overflow: hidden;
        &__l {
          height: 180px;
        }
        &__s {
          width: 170px;
          height: 114px;
          margin-right: 21px;
        }
        &__deal {
          display: flex;
          position: relative;
          width: 155px;
          .img {
            position: relative;
            img {
              border-radius: 4px;
            }

            &-main {
              position: relative;
              margin-right: 10px;
              img {
                width: 85px;
                height: 60px;
              }
              i {
                position: absolute;
                top: 0;
                left: 0;
                &.ico-one {
                  @extend .ico-one;
                  @extend .inline;
                }
                &.ico-alpha {
                  @extend .ico-alpha;
                  @extend .inline;
                }
              }
            }
            &-sub {
              img {
                width: 60px;
                height: 60px;
                aspect-ratio: auto 60 / 60;
              }
            }
            &-bd {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              opacity: 0.05;
              filter: alpha(opacity=5);
              border: 1px solid #000;
              border-radius: 4px;
            }
          }
          .ico-addplus {
            position: absolute;
            top: 20px;
            left: 80px;
            @extend .ico-dealplus;
            @extend .inline;
            z-index: 1;
          }
        }
        img {
          width: 100%;
          object-fit: cover;
        }
        .border {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0.06;
          filter: alpha(opacity=6);
          border: 1px solid #000;
        }
        .dim {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0.1;
          filter: alpha(opacity=10);
          background-color: #000;
        }
        i {
          @extend .inline;
          position: absolute;
          bottom: 9px;
          left: 12px;
        }
      }
      &-text {
        display: block;
        padding: 16px 18px 0 0;
        .em {
          @extend .ellipsis;
          margin-bottom: 6px;
        }
        .title {
          @extend .ellipsis;
          font-size: 13px;
          margin-bottom: 5px;
        }
        .info {
          &-main {
            @extend .ellipsis-2;
            color: $gray-1;
            font-size: 13px;
            max-height: 42px;
            line-height: 21px;
            margin-bottom: 4px;
          }
          &-btm {
            @extend .ellipsis;
            color: $gray-2;
            line-height: 20px;
          }
          &-source {
            line-height: 20px;
            word-break: keep-all;
            .name {
              @extend .ellipsis;
              color: $gray-2;
              line-height: 20px;
              &:after {
                @extend .dot, .dot-gray--xs;
                @extend .inline;
                content: "";
                margin: 0 5px 0 6px;
                vertical-align: 3px;
              }
            }
          }
          .date {
            color: $gray-3;
          }
          .percent {
            color: $gray-3;
            em {
              margin-right: 5px;
              margin-bottom: 0;
              font-weight: 500 !important;
            }
          }
          &-thumb {
            margin-right: 5px;
            img {
              width: 20px;
              height: 20px;
              border-radius: 50%;
            }
          }
        }
        &__m {
          padding: 12px 0px 0 0;
          .title {
            @extend .ellipsis-2;
            white-space: normal;
          }
        }
        &__s {
          padding: 4px 47px 0 0;
          .info {
            &-main {
              max-width: 512px;
            }
          }
        }
        &__trend {
          padding: 0;
          margin-top: 5px;
          text-align: center;
          .title {
            font-size: 12px;
            margin-bottom: 0;
          }
          .info {
            margin-bottom: 0;
            &-main {
              font-size: 12px;
              line-height: 16px;
              margin-bottom: 0;
            }
            &:hover {
              .info {
                @extend .no-underline;
              }
            }
          }
        }
        &__deal {
          padding: 0;
          margin-left: 10px;
          max-width: 167px;
          .title {
            @extend .ellipsis-2;
            white-space: inherit;
            font-size: 12px;
            font-weight: 500 !important;
            line-height: 17px;
          }
          .price {
            em {
              color: #f04045;
              font-weight: 700;
            }
            span {
              font-weight: 700;
            }
          }
        }
      }
    }
    &:hover {
      @extend .no-underline;
      strong {
        @extend .underline;
      }
    }
  }
  &:hover {
    img {
      @extend .img-hover;
    }
  }
}

.product {
  > div {
    padding-bottom: 20px;
    border-bottom: $border-gray;
    &:last-child {
      border-bottom: none;
    }
  }
  .thumb {
    ul {
      flex-wrap: wrap;
      li {
        margin: 10px 5px 0 0;
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
    .paging {
      &-num {
        margin: 0 15px;
      }
    }
  }
  .paging {
    padding-top: 10px;
    &-num {
      margin-right: 7px;
      color: $gray-3;
      strong {
        color: initial;
      }
    }
    &-btn {
      button {
        width: 29px;
        height: 29px;
        border: $border-gray;
        background-color: $white;
        padding: 9px 10px 9px 10px;
      }

      &__prev {
        i {
          @extend .ico-trend--prev;
          @extend .inline;
        }
        &:hover {
          background-color: $bg-default;
          i {
            @extend .ico-trendP--hover;
          }
        }
      }
      &__next {
        margin-left: -1px;
        i {
          @extend .ico-trend--next;
          @extend .inline;
        }
        &:hover {
          background-color: $bg-default;
          i {
            @extend .ico-trendN--hover;
          }
        }
      }
    }
  }
}
