/*아이콘 모음*/
@import "../modules/spr.scss";
.ico-jrnaver {
  @extend .sprMain;
  vertical-align: text-top;
  width: 60px;
  height: 10px;
  background-position: -264px -296px;
}
.ico-happybean {
  @extend .sprMain;
  vertical-align: text-top;
  width: 34px;
  height: 11px;
  background-position: -365px -245px;
}
.ico-search {
  @extend .sprMain;
  vertical-align: text-top;
  width: 22px;
  height: 22px;
  background-position: -420px -24px;
}
