@import "./variable";

/*이미지 스프라이트*/
.sprMain-top {
  background-image: url($imgPath + "sp_main.png");
  background-size: 442px 428px;
  vertical-align: top;
  background-repeat: no-repeat;
}
.sprMain {
  background-image: url($imgPath + "sp_main.png");
  background-size: 442px 428px;
  background-repeat: no-repeat;
}
.sprWeather {
  background-image: url($imgPath + "sp_weather.png");
  background-size: 215px 184px;
  background-repeat: no-repeat;
}
.sprMy {
  background-image: url($imgPath + "sp_my.png");
  background-size: 307px 289px;
  background-repeat: no-repeat;
}
/* 이미지 스프라이트 활용한 아이콘*/
.ico-jrnaver {
  @extend .sprMain-top;
  width: 60px;
  height: 10px;
  background-position: -264px -296px;
}
.ico-happybean {
  @extend .sprMain-top;
  width: 34px;
  height: 11px;
  background-position: -365px -245px;
}
.ico-search {
  @extend .sprMain-top;
  width: 22px;
  height: 22px;
  background-position: -420px -24px;
}
.ico-mail {
  @extend .sprMain-top;
  width: 21px;
  height: 21px;
  background-position: -420px -73px;
}
.ico-shop {
  @extend .sprMain-top;
  width: 24px;
  height: 15px;
  background-position: -76px -389px;
}
.ico-shoplive {
  @extend .sprMain-top;
  width: 54px;
  height: 18px;
  background-position: -209px -269px;
}
.ico-tv {
  @extend .sprMain;
  width: 12px;
  height: 14px;
  background-position: -256px -212px;
}
.ico-setting {
  @extend .sprMy;
  width: 23px;
  height: 23px;
  background-position: -50px -249px;
}
.ico-secure {
  @extend .sprMy;
  width: 9px;
  height: 13px;
  background-position: -42px -275px;
}
.ico-nplus {
  @extend .sprMy;
  width: 15px;
  height: 15px;
  background-position: -231px -249px;
}
.ico-prev {
  @extend .sprMy;
  width: 34px;
  height: 34px;
  background-position: -145px -37px;
}
.ico-next {
  @extend .sprMy;
  width: 34px;
  height: 34px;
  background-position: -73px -37px;
}
.ico-slideprev {
  @extend .sprMain-top;
  width: 6px;
  height: 9px;
  background-position: -162px -327px;
}
