@import "./variable";

/*이미지 스프라이트*/
.sprMain-top {
  background-image: url($imgPath + "sp_main.png");
  background-size: 442px 428px;
  vertical-align: top;
  background-repeat: no-repeat;
}
.sprMain {
  background-image: url($imgPath + "sp_main.png");
  background-size: 442px 428px;
  background-repeat: no-repeat;
}
.sprWeather {
  background-image: url($imgPath + "sp_weather.png");
  background-size: 215px 184px;
  vertical-align: top;
  background-repeat: no-repeat;
}
.sprMy {
  background-image: url($imgPath + "sp_my.png");
  background-size: 307px 289px;
  background-repeat: no-repeat;
}
/* 이미지 스프라이트 활용한 아이콘*/
.ico-jrnaver {
  @extend .sprMain-top;
  width: 60px;
  height: 10px;
  background-position: -264px -296px;
}
.ico-happybean {
  @extend .sprMain-top;
  width: 34px;
  height: 11px;
  background-position: -365px -245px;
}
.ico-search {
  @extend .sprMain-top;
  width: 22px;
  height: 22px;
  background-position: -420px -24px;
}
.ico-mail {
  @extend .sprMain-top;
  width: 21px;
  height: 21px;
  background-position: -420px -73px;
}
.ico-shop {
  @extend .sprMain-top;
  width: 24px;
  height: 15px;
  background-position: -76px -389px;
}
.ico-shoplive {
  @extend .sprMain-top;
  width: 54px;
  height: 18px;
  background-position: -209px -269px;
}
.ico-tv {
  @extend .sprMain;
  width: 12px;
  height: 14px;
  background-position: -256px -212px;
}
.ico-setting {
  @extend .sprMy;
  width: 23px;
  height: 23px;
  background-position: -50px -249px;
}
.ico-secure {
  @extend .sprMy;
  width: 9px;
  height: 13px;
  background-position: -42px -275px;
}
.ico-nplus {
  @extend .sprMy;
  width: 15px;
  height: 15px;
  background-position: -231px -249px;
}
.ico-prev {
  @extend .sprMy;
  width: 34px;
  height: 34px;
  background-position: -145px -37px;
}
.ico-next {
  @extend .sprMy;
  width: 34px;
  height: 34px;
  background-position: -73px -37px;
}
.ico-slideprev {
  @extend .sprMain-top;
  width: 6px;
  height: 9px;
  background-position: -162px -327px;
}
.ico-usa {
  @extend .sprMain;
  width: 20px;
  height: 20px;
  background-position: -420px -118px;
}
.ico-arrowblue {
  @extend .sprMain;
  width: 9px;
  height: 6px;
  background-position: -433px -402px;
}
.ico-issue--prev {
  @extend .sprMain;
  width: 6px;
  height: 9px;
  background-position: -162px -327px;
}
.ico-issue--next {
  @extend .sprMain;
  width: 5px;
  height: 9px;
  background-position: -146px -327px;
}
/*미세먼지 상태*/
.ico-dust--good {
  @extend .sprMain-top;
  width: 18px;
  height: 19px;
  background-position: -420px -266px;
}
.ico-dust--normal {
  @extend .sprMain-top;
  width: 18px;
  height: 19px;
  background-position: -420px -246px;
}
.ico-dust--bad {
  @extend .sprMain-top;
  width: 18px;
  height: 19px;
  background-position: -420px -286px;
}
.ico-dust--verybad {
  @extend .sprMain-top;
  width: 18px;
  height: 19px;
  background-position: -420px -226px;
}
/*온도와 날씨 상태*/
.ico-weather--1 {
  @extend .sprWeather;
  width: 25px;
  height: 20px;
  background-position: -3px -3px;
}
.ico-weather--2 {
  @extend .sprWeather;
  width: 22px;
  height: 22px;
  background-position: -34px -3px;
}
.ico-weather--3 {
  @extend .sprWeather;
  width: 26px;
  height: 20px;
  background-position: -64px -4px;
}
.ico-weather--4 {
  @extend .sprWeather;
  width: 24px;
  height: 24px;
  background-position: -96px -3px;
}
.ico-weather--5 {
  @extend .sprWeather;
  width: 27px;
  height: 20px;
  background-position: -125px -4px;
}
.ico-weather--6 {
  @extend .sprWeather;
  width: 26px;
  height: 22px;
  background-position: -156px -3px;
}
.ico-weather--7 {
  @extend .sprWeather;
  width: 26px;
  height: 21px;
  background-position: -187px -4px;
}
.ico-weather--8 {
  @extend .sprWeather;
  width: 23px;
  height: 23px;
  background-position: -3px -34px;
}
.ico-weather--9 {
  @extend .sprWeather;
  width: 24px;
  height: 22px;
  background-position: -34px -35px;
}
.ico-weather--10 {
  @extend .sprWeather;
  width: 26px;
  height: 20px;
  background-position: -64px -35px;
}
.ico-weather--11 {
  @extend .sprWeather;
  width: 19px;
  height: 19px;
  background-position: -97px -35px;
}
.ico-weather--12 {
  @extend .sprWeather;
  width: 25px;
  height: 26px;
  background-position: -126px -32px;
}
.ico-weather--13 {
  @extend .sprWeather;
  width: 25px;
  height: 22px;
  background-position: -156px -34px;
}
.ico-weather--14 {
  @extend .sprWeather;
  width: 25px;
  height: 26px;
  background-position: -187px -32px;
}
.ico-weather--15 {
  @extend .sprWeather;
  width: 25px;
  height: 20px;
  background-position: -2px -66px;
}
.ico-weather--16 {
  @extend .sprWeather;
  width: 24px;
  height: 21px;
  background-position: -34px -65px;
}
.ico-weather--17 {
  @extend .sprWeather;
  width: 23px;
  height: 24px;
  background-position: -65px -64px;
}
.ico-weather--18 {
  @extend .sprWeather;
  width: 19px;
  height: 19px;
  background-position: -96px -66px;
}
.ico-weather--19 {
  @extend .sprWeather;
  width: 19px;
  height: 22px;
  background-position: -129px -64px;
}
.ico-weather--20 {
  @extend .sprWeather;
  width: 25px;
  height: 22px;
  background-position: -156px -66px;
}
.ico-weather--21 {
  @extend .sprWeather;
  width: 25px;
  height: 27px;
  background-position: -187px -63px;
}
.ico-weather--22 {
  @extend .sprWeather;
  width: 21px;
  height: 23px;
  background-position: -4px -96px;
}
.ico-weather--23 {
  @extend .sprWeather;
  width: 19px;
  height: 22px;
  background-position: -36px -95px;
}
.ico-weather--24 {
  @extend .sprWeather;
  width: 24px;
  height: 25px;
  background-position: -64px -95px;
}
.ico-weather--25 {
  @extend .sprWeather;
  width: 20px;
  height: 20px;
  background-position: -98px -95px;
}
.ico-weather--26 {
  @extend .sprWeather;
  width: 26px;
  height: 20px;
  background-position: -125px -97px;
}
.ico-weather--27 {
  @extend .sprWeather;
  width: 23px;
  height: 24px;
  background-position: -158px -95px;
}
.ico-weather--28 {
  @extend .sprWeather;
  width: 26px;
  height: 22px;
  background-position: -187px -95px;
}
.ico-weather--29 {
  @extend .sprWeather;
  width: 19px;
  height: 19px;
  background-position: -5px -128px;
}
.ico-weather--30 {
  @extend .sprWeather;
  width: 19px;
  height: 19px;
  background-position: -36px -128px;
}
.ico-weather--31 {
  @extend .sprWeather;
  width: 23px;
  height: 21px;
  background-position: -65px -127px;
}
.ico-weather--32 {
  @extend .sprWeather;
  width: 26px;
  height: 22px;
  background-position: -96px -127px;
}
.ico-weather--33 {
  @extend .sprWeather;
  width: 25px;
  height: 22px;
  background-position: -126px -127px;
}
.ico-weather--34 {
  @extend .sprWeather;
  width: 23px;
  height: 24px;
  background-position: -158px -126px;
}
.ico-weather--35 {
  @extend .sprWeather;
  width: 26px;
  height: 22px;
  background-position: -187px -126px;
}
.ico-weather--36 {
  @extend .sprWeather;
  width: 26px;
  height: 22px;
  background-position: -3px -158px;
}
.ico-weather--37 {
  @extend .sprWeather;
  width: 25px;
  height: 22px;
  background-position: -33px -158px;
}
.ico-weather--38 {
  @extend .sprWeather;
  width: 25px;
  height: 24px;
  background-position: -64px -158px;
}
.ico-weather--39 {
  @extend .sprWeather;
  width: 25px;
  height: 21px;
  background-position: -94px -158px;
}
.ico-weather--40 {
  @extend .sprWeather;
  width: 25px;
  height: 21px;
  background-position: -125px -158px;
}
.ico-weather--41 {
  @extend .sprWeather;
  width: 25px;
  height: 21px;
  background-position: -156px -158px;
}
.ico-weather--42 {
  @extend .sprWeather;
  width: 25px;
  height: 25px;
  background-position: -188px -156px;
}
