/*이미지경로*/
$imgPath: "/img/";
/*border*/
$border-default: 1px solid #dae1e6;
$border-footer: 1px solid #e4e8eb;
/*background-color*/
$bg-gray: #e4e8eb;
$bg-default: #f7f9fa;
$green: #19ce60;
$badgeGreen: #1fd771;
$white: #fff;
$black: #000;
/*text color*/
$txt-green: #58c464;
