/*이미지경로*/
$imgPath: "/img/";
/*border*/
$border-default: 1px solid #dae1e6;
$border-gray: 1px solid #e4e8eb;
/* background/font color */
$white: #fff;
$black: #000;
$black-light: #505050;
$gray-1: #404040;
$gray-2: #505050;
$gray-3: #808080;
$bg-gray: #e4e8eb;
$bg-gray2: #dae1e6;
$bg-default: #f7f9fa;
$green: #19ce60;
$badgeGreen: #1fd771;
$green-footer: #58c464;
$green-main: #03c75a;
/*오늘 읽을만한 글*/
$entertain: #e65da0;
$sports: #0147b5;
$webtoon: #66c971;
$fashion: #8449ca;
$recipe: #ebaa00;
$living: #c08d31;
$book: #42be6f;
$economy: #35ae5e;
$recommend: #5290ff;
$car: #4a94e1;
