/*이미지경로*/
$imgPath: "/img/";
/*border*/
$border-default: 1px solid #dae1e6;
/*background-color*/
$bg-default: #f7f9fa;
$bg-footer: #fafbfc;
$green: #19ce60;
$badgeGreen: #1fd771;
$white: #fff;
$black: #000;
/*text color*/
