@import "../modules/variable";

/*이미지 스프라이트*/
.sprMain {
  background-image: url($imgPath + "sp_main.png");
  background-size: 442px 428px;
}

.sprWeather {
  background-image: url($imgPath + "sp_weather.png");
  background-size: 215px 184px;
}
